* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.app {
  &-top {
    padding: 10px;
    background: rgb(43, 41, 54);
    ul {
      display: flex;
      gap: 25px;
      li {
        cursor: pointer;
        color: white;
        font-size: 20px;
      }
    }
  }
  &-bottom {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    &__content {
      width: 1100px;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        li {
          img {
            width: 200px;
            height: 200px;
            border: 1px solid rgb(218, 218, 218);
            border-radius: 10px;
            object-fit: contain;
          }
        }
      }
    }
    &__ingredients {
      display: flex;
      flex-direction: column;
      width: 300px;
      .title {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px 0;
        align-items: center;
        span {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          background: red;
          border-radius: 50%;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          color: white;
        }
        button {
          padding: 10px;
          border: 0;
          background: crimson;
          color: white;
          border-radius: 3px;
          font-weight: 900;
          font-size: 16px;
        }
      }
      .ingredients {
        display: flex;
        border: 1px solid rgb(218, 218, 218);
        border-radius: 2px;
        flex-direction: column;
        li {
          padding: 20px;
          border: 1px solid rgb(218, 218, 218);
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            button {
              width: 40px;
              height: 40px;
              border: 0;
              background: crimson;
              color: white;
              border-radius: 3px;
              font-weight: 900;
              font-size: 16px;
            }
            span {
              padding: 10px;
            }
          }
        }
      }
      .total {
        padding: 20px;
        display: flex;
        border-right: 1px solid rgb(218, 218, 218);
        border-left: 1px solid rgb(218, 218, 218);
        justify-content: space-between;
        border: 1px solid rgb(218, 218, 218);
      }
      .btns {
        border: 1px solid rgb(218, 218, 218);

        &-top {
          padding: 20px;
          border-bottom: 1px solid rgb(218, 218, 218);
          display: flex;
          justify-content: space-between;
          button {
            border: 0;
            padding: 10px;
            background: crimson;
            color: white;
            border-radius: 3px;
            font-weight: 900;
            font-size: 16px;
          }
        }
        &-bottom {
          padding: 20px;
          button {
            border: 0;
            padding: 10px;
            font-size: 16px;

            background: crimson;
            color: white;
            border-radius: 3px;
            font-weight: 900;
          }
        }
      }
      .random {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}

.checkout {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100%;
  background: white;
  font-size: 18px;

  text-align: center;
  &-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    padding: 30px;
    margin: auto;
    position: relative;
    border-radius: 5px;
    span {
      margin-top: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      background: 0;
      li {
        color: black;
        margin: 10px 0;
      }
    }
    &__btn {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      button {
        padding: 10px;
        border: 0;
        background: crimson;
        color: white;
        font-size: 18px;
        border-radius: 4px;
        &:active {
          transform: translate(0, 2px);
        }
      }
    }
  }
}

.checkout-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // display: none;
  &__ingredients {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
    }
    ul {
      display: flex;
      margin-top: 20px;
      gap: 50px;
      li {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 200px;
          height: 200px;
        }
        span {
          margin: 10px;
        }
      }
    }
  }

  & > div:nth-child(n + 2) {
    display: flex;
    // justify-content: space-between;
    width: 800px;
    padding: 15px;

    align-items: center;
    input[type="text"],
    input[type="email"] {
      width: 90%;
      border-radius: 4px;
      outline: none;
      border: 1px solid rgb(207, 207, 207);
      padding: 10px;
      margin-left: auto;
    }
    textarea {
      margin-left: auto;
      width: 100%;
      height: 60px;
      border-radius: 4px;
      outline: none;
      padding: 10px;
      border: 1px solid rgb(207, 207, 207);
    }
    input[type="radio"] {
      margin-left: 20px;
    }
    input[type="checkbox"] {
      margin-left: 20px;
      width: 18px;
      height: 18px;
    }
    select {
      margin-left: 10px;
      border-radius: 2px;
      padding: 5px;
      outline: 0;
    }
  }
  .back {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    button {
      padding: 10px;
      background: rgb(167, 47, 71);
      border: 0;
      border-radius: 5px;
      color: white;
      font-size: 18px;
    }
    button:nth-child(2) {
      background: rgb(45, 86, 102);
    }
  }
}

.load {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(36, 35, 35, 0.877);
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &-content {
    background: white;
    padding: 25px;
    position: relative;
    border-radius: 4px;
    span {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
    &__coupon {
      margin-top: 15px;
      input {
        padding: 5px;
        outline: 0;
        border-radius: 5px;
        border: 1px solid black;
      }
      button {
        padding: 5px;
      }
    }
  }
}
