* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  cursor: pointer;
}

.app {
  ul {
    background: rgb(49, 47, 47);
    display: flex;
    gap: 25px;
    padding: 10px;
    li {
      color: white;
    }
  }

  &-bottom {
    width: 1200px;
    margin: 150px auto 0 auto;
    display: flex;
    justify-content: space-between;
    &__left {
      .content {
        margin-top: 50px;
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        img {
          width: 200px;
          height: 200px;
          border: 1px solid rgb(221, 221, 223);
        }
      }
    }

    &__right {
      width: 300px;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 20px;
        button {
          padding: 10px;
          border: 0;
          border-radius: 5px;
        }
      }
      .items {
        border: 1px solid ghostwhite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        &-btns {
          span {
            padding: 10px;
          }
          button {
            width: 25px;
            height: 25px;
            border: 0;
            border-radius: 5px;
          }
        }
      }

      .btns {
        div {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 20px;
          border: 1px solid ghostwhite;
          button {
            padding: 10px;
            border: 0;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.load {
  position: absolute;
  // left: 50%;
  top: 0;
  left: 0;
  // top: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.598);
  &-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    padding: 30px;
    margin: auto;
    position: relative;
    border-radius: 5px;
    span {
      position: absolute;
      top: 8px;
      right: 8px;
      box-shadow: 0 0 5px black;
      width: 20px;
      border-radius: 50%;
      height: 20px;
      display: flex;
      align-content: center;
      justify-content: center;
      cursor: pointer;
      font-size: 14px;
      font-weight: 900;
    }
    &__label {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      input {
        width: 65%;
        padding: 10px;
      }
      button {
        width: 25%;
      }
    }
  }
}

.checkout {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 100%;
  background: white;
  font-size: 18px;

  text-align: center;
  &-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px black;
    padding: 30px;
    margin: auto;
    position: relative;
    border-radius: 5px;
    span {
      margin-top: 20px;
    }
    ul {
      display: flex;
      flex-direction: column;
      background: 0;
      li {
        color: black;
      }
    }
    &__btn {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      button {
        padding: 10px;
        border: 0;
        background: crimson;
        color: white;
        font-size: 18px;
        border-radius: 4px;
        &:active {
          transform: translate(0, 2px);
        }
      }
    }
  }
}
