* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  cursor: pointer;
}

.app {
  ul {
    background: rgb(49, 47, 47);
    display: flex;
    gap: 25px;
    padding: 10px;
    li {
      color: white;
    }
  }

  &-bottom {
    width: 1200px;
    margin: 150px auto 0 auto;
    display: flex;
    justify-content: space-between;
    &__left {
      .content {
        margin-top: 50px;
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        img {
          width: 200px;
          height: 200px;
          border: 1px solid rgb(221, 221, 223);
        }
      }
    }

    &__right {
      width: 300px;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 20px;
        button {
          padding: 10px;
          border: 0;
          border-radius: 5px;
        }
      }
      .items {
        border: 1px solid ghostwhite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        &-btns {
          span {
            padding: 10px;
          }
          button {
            width: 25px;
            height: 25px;
            border: 0;
            border-radius: 5px;
          }
        }
      }

      .btns {
        div {
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 20px;
          border: 1px solid ghostwhite;
          button {
            padding: 10px;
            border: 0;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

// const addIngredients = (e) => {
//   setItem({
//     pizza: {
//       ...item.pizza,
//       price: [+[...item.pizza.price] + +e.price],
//       ingredients: [...item.pizza.ingredients, e].filter((el, id) => {
//         return [...item.pizza.ingredients, e].indexOf(el) === id;
//       }),
//     },
//     ingredients: [
//       ...item.ingredients.map((el) => {
//         if (el.text === e.text) {
//           el.total += 1;
//         }
//         return el;
//       }),
//     ],
//   });
// };

// const delIngredients = (e) => {
//   setItem({
//     pizza: {
//       ...item.pizza,
//       price: [item.pizza.price > 3 ? [...item.pizza.price] - e.price : 3],
//       ingredients: [
//         ...item.pizza.ingredients.filter((el) => {
//           if (el.total === 0) {
//             return el !== e;
//           }
//           return el;
//         }),
//       ],
//     },
//     ingredients: [...item.ingredients].map((el) => {
//       if (el.text === e.text) {
//         if (el.total > 0) {
//           el.total -= 1;
//         }
//       }
//       return el;
//     }),
//   });
//   console.log(item.pizza.ingredients);
// };

// const resetIngredients = () => {
//   setItem({
//     pizza: {
//       ...item.pizza,
//       price: [3.0],
//       ...(item.pizza.ingredients.length = 0),
//     },
//     ingredients: [
//       ...item.ingredients.map((el) => {
//         if (el.total !== 0) {
//           el.total = 0;
//         }
//         return el;
//       }),
//     ],
//   });
// };
